version: '3'

services:
  web:
    build: .
    ports:
      - "8000:8000"
    depends_on:
      - db

  db:
    image: postgres:15
    environment:
      POSTGRES_DB: lotto_db
      POSTGRES_USER: lotto
      POSTGRES_PASSWORD: lotto123
    volumes:
      - postgres_data:/var/lib/postgresql/data/

volumes:
  postgres_data:
